body {
    font-family: Arial, sans-serif;
    background: #66cf4b;
    padding: 50px;
}

form {
    background: #15e0e7;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 25px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input.valido {
    border-color: green;
}

input.invalido {
    border-color: rgb(226, 175, 210);
}

.error {
    color: rgb(223, 42, 30);
    font-size: 0.8em;
}

.botones {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background: #5b39d8;
}

button:not(:disabled) {
    background: #28a745;
    color: white;
}
